#component_body {background-color: whitesmoke; position: absolute; width: 100%;}

#basefileInput, #manifestInput {display: none;}

.container {background-color: white; margin-top: 1%; padding: .1%;}

#response {margin: 2%;}

#newproject {margin: 2%;}

.success {color: green;}

.fail {color: red;}

.projectname {font-size: 1.2em; padding: 1.5%; padding-bottom: 2%;}

.project {margin: 1.5%; border: 2px solid khaki;}
.project:hover{background-color: whitesmoke;}

.zipinput {background-color: honeydew; padding: 1.5%; font-size: 1.0em; cursor: pointer;}
.zipinput:hover {background-color: green; color: whitesmoke;}

.manifestInput {background-color: lavender ;padding: 1.5%; font-size: 1.0em; cursor: pointer;}
.manifestInput:hover {background-color: violet; color: whitesmoke;}

.input-title, .manifest-title {margin-right: 1%;}

#addButton {background-color: lightskyblue; margin-left: 1%;}

.projectMessage {margin-left: 1%;}

.delete {background-color: lightpink; padding: 1.5%; font-size: 1em; cursor: pointer;}
.delete:hover {background-color: red; color: wheat;}

#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  display: none;
}

.show {
  display: block !important;
}

.notify-panel {
  opacity: 1; 
  margin-top: 10%; 
  padding: 1%; 
  text-align: center; 
  font-size: 1.5em; 
  box-shadow: 2px 2px 2px rgb(58, 104, 145);
  display: none;
}

.yes {background-color: green; color: aliceblue; margin: 1%;}
.no {background-color: red; color: aliceblue;} 

#footer {
  position: relative;
  background-color: whitesmoke;
  width: 100%;
  height: 1em;
}

