<div id="component_body"><div class="container">
    <div id="newproject">
        <input type="text" name="newName" [(ngModel)]="newProjectName">
        <button id="addButton" (click)="addProject()">Add Project</button>
        <span id="response" [class.success]="success" [class.fail]="!success">{{responseMessage}}</span>
    </div>
    <div *ngFor="let project of projects; let i = index" class="project">
        <div class="projectname">
            <a routerLink="{{project}}">{{project}}</a> <span class="projectMessage">{{projectMessages[i]}}</span>
        </div>  
        <span class="zipinput" (click)="fileInputClick('basefileInput', i)"> 
            <span class="input-title"> Enter Project as Zip</span>
            <input type="file" class="fileinput" accept=".zip" (change)="fileSelected($event, project, i)" id="basefileInput"> 
        </span>
        <span class="manifestInput" (click)="fileInputClick('manifestInput', i)"> 
            <span class="manifest-title"> Enter Project Manifest</span>
            <input type="file" class="fileinput" accept=".csv" (change)="readMnaifest($event, project)" id="manifestInput">
        </span>
        <span class="delete" (click)="deleteClicked(project, i)">Delete</span>
    </div>
    <div id="footer"></div>
</div></div>
<div id="cover" [class.show]="showFileRepalceAlert||showFileDeleteAlert"></div>
<div class="container notify-panel" [class.show]="showFileRepalceAlert">
    File already exists for procet. Replace those Files?<br>
    <button class="yes" (click)="alertRespone(true)"><span class="buttontext">Yes</span></button>
    <button class="no" (click)="alertRespone(false)"><span class="buttontext">No</span></button>
</div>
<div class="container notify-panel" [class.show]="showFileDeleteAlert">
    Delete the project including all it's files?<br>
    <button class="yes" (click)="deleteResponse(true)"><span class="buttontext">Yes</span></button>
    <button class="no" (click)="deleteResponse(false)"><span class="buttontext">No</span></button>
</div>

